<div class="inner_container about_inner_container clearfix">
<div class="about-content">
<h2 class="about_title">About Us</h2>  

<div class="host_container about_container">
	<p class="about-us">
		<span class="bold">Constellation</span> presents live, interactive events around movies and other premium content online.</p> 	
	<p class="about-us">At the events, Constellation users can chat with each other, and interact with live hosts, such as filmmakers, actors, writers, and other taste-makers, in live Q+As after the movies.  In some cases, the host also leads live commentary during the movie.</p>
	<p class="about-us">Studios, independent producers, and television companies have used Constellation to create exciting interactive events to promote and to sell their content. </p>
	<p>Constellation was founded in 2011 by James Lawler and Reid Carolin and is based in New York City and Los Angeles.</p>
	<p class="about-us">		Interested in learning more?  We'd love to hear from you: <a href="mailto:contact@constellation.tv">contact@constellation.tv</a>.	</p>

</div>
</div>