<div class="inner_container about_inner_container clearfix">
<div class="about-content">
<h2 class="about_title">About Us</h2>  


	<p class="contact-us">We’d love to hear from you.</p><br />
            
	<p class="contact-us">For general questions and comments: <a href="mailto:contact@constellation.tv">contact@constellation.tv</a>.</p><br />
	<p class="contact-us">For technical questions/problems: <a href="mailto:support@constellation.tv">support@constellation.tv</a>.</p><br />
	<p class="contact-us">For event booking inquiries: <a href="mailto:booking@constellation.tv">booking@constellation.tv</a>.</p>

</div>
