<div class="inner_container about_inner_container clearfix">
	<div class="about-content">
		<h2 class="about_title">Frequently Asked Questions</h2>  

		<h4>WHAT IS A SOCIAL MOVIE EVENT?</h4>
		<p>Imagine a room full of people from around the world, watching a movie at the same time.  Then imagine getting to chat with the film's director, an actor, or other taste-makers during and after the movie.  That's Constellation - a social movie theater presenting amazing movie experiences on your PC, connected TV or hand-held device. </p>
        		
		<h4>HOW DO I ATTEND ONE OF THESE SOCIAL MOVIE EVENTS?</h4>
		<p>All the upcoming events are listed on the homepage.  So, go there (<a href="http://www.constellation.tv">www.constellation.tv</a>) and scroll down until you find an event you like.  Click on the blue button to RSVP, or click to read more about the event to decide if it's right for you.</p>
		
		<h4>OW MUCH DOES IT COST TO ATTEND AN EVENT?</h4>
		<p>Some events are free, some cost a few dollars, and some are restricted to press and other invitees.  </p>
		
		<h4>HOW DO YOU REMIND ME ABOUT THE EVENT?</h4>
		<p>On the event details page, you will find a button to add the event to Google calendar, iCal, Yahoo calendar or Outlook.  We'll also send you a reminder automatically a few hours before the event.</p>
		
		<h4>WHY DO PEOPLE HOST EVENTS ON CONSTELLATION?</h4>
		<p>Hosting events on Constellation is a fun and easy way to interact with an audience, to hold a word-of-mouth screening, to create additional buzz around your movie, to hold a closed press screening, to hold Q+A's with talent without an expensive junket or travel expenses, and more.  Some of our hosts are regulars.  These people have online followings with whom they want to share interesting movies and other content. </p>
		
		<h4>HOW CAN I HOLD AN EVENT ON CONSTELLATION FOR MY MOVIES?</h4> 
		<p>Email us: <a href="mailto:contact@constellation.tv">contact@constellation.tv</a>.</p>
		
		<h4>WHAT BROWSERS AND DEVICES ARE SUPPORTED?</h4> 
		<p>IE 7, 8, 9, Firefox 3+, Chrome, and Safari 3+. We do not support iPad, Apple TV, Roku, or Boxee yet, but will soon </p>
        
        <h4>I WAS WATCHING A MOVIE AND HAD TECHNICAL PROBLEMS. WHAT SHOULD I DO?</h4> 
		<p>Forward your ticket and a description of the problem you are having to <a href="mailto:support@constellation.tv">support@constellation.tv</a>.</p>

        <h4>I CAN'T MAKE THE EVENT I BOUGHT A TICKET FOR. CAN I SWAP MY TICKET FOR ANOTHER EVENT?</h4> 
		<p>Yes. Select the new event you want to attend, and enter the unique exchange code on your first ticket in the “Discount Code” field when you pay. You will be emailed a new ticket for the new event, and you will not be charged.</p>

        <h4>I’M A FILMMAKER. HOW CAN I GET MY MOVIE EXHIBITED ON CONSTELLATION?</h4> 
		<p>Constellation books films from studios, independent distribution companies, festivals, agents, producers, and directors. If you control the internet streaming rights to a great movie, send us an email at booking@constellation.tv. Please include your movie's title, synopsis, cast and crew, a link to a trailer, and a summary of the film's distribution (festivals, etc.) to date, and any distribution that is planned.</p>
</div>
