<h2>THE LOTTERY</h2>
<div class="movie_poster"><img src="/images/temp_images/poster1.jpg" alt="" /></div>
<span class="arrow"><a href="">Play Trailer</a></span>

<p><strong>About the Film:</strong>
In a country where 58% of African American 4th graders are functionally illiterate, The Lottery uncovers a ferocious debate surrounding public education. Following four families who enter their children into a school lottery, The Lottery reveals a turf war that is being waged over the future of America's public schools.
</p>

<p><strong>Director(s):</strong>
Madeleine Sackler
</p>

<p><strong>Producer(s):</strong>
Blake Ashman-Kipervaser
James Lawler
Madeleine Sackler
</p>

<p><strong>Production Company:</strong>
Great Curve Films 
</p>	
