<div class="hero-header">
	<div class="inner_container clearfix">
	<div class="hero-header-image"></div>
		<div class="hero-header-text">
		<h1>Where Films and Audience Meet.</h1>
		<p>The Platform for Premium Film Makers To Monetize Their Work</p>
				<a href="#getStarted" style="margin-top: 40px" class="button button_blue uppercase">Get Started</a>

	</div>
</div>
</div>
		

<div class="main-wrapper">
<div class="inner_container">
	<div class="section clearfix">
		<h2>Vision</h2>

    <div class="col-2">
      <h4>Community</h4>
  		<p>Just like a traditional movie theater, audiences purchase tickets
     to attend scheduled showtimes of movies, or create their own showtimes 
    to watch when they want.  Unlike other online platforms, watching movies
     on Constellation is a social experience - users can invite their 
    friends to watch with them, and can interact with VIP hosts, such as the
     films' directors or actors, who often appear live to answer questions 
    during and after select showtimes.</p>
    <h4>Leverage Constellation</h4>
    <p>  By uploading ancillary content – like photos and  video clips related to your film, expand the likelihood of discovery, as people favorite your content on their profiles and interact with it on your page.</p>
    </div>
    <div class="col-2">

      <h4>Market</h4>
      <p>We allow Constellation users to promote films, and earn money doing it by our affiliate system.  Each film page has an affiliate link that is tied to the account of the user viewing your page.  Every purchase of your film made through that link gets split 50/50 with your promoter.  See a list of your top promoters on your film page.</p>
    </div>
	</div>
	<div class="section">
		<h2>Features</h2>
		<div class="fm-f-n">
			With Constellation, you can: 
			<ul id="fm-f-n-list" class="fm-f-n-list">
				<li class="active">Upload</li>
				<li>Promote</li>
				<li>Moneteize</li>
				<li>Track</li>
			</ul>
		</div>
		<div class="slides clearfix">
			<div class="slide clearfix active">
	        <img src="/images/pages/filmmakers/s-upload.jpg" />
			<div class="feature-text">
		        <div class="grid_3">
		      		<h4>Easy Editing</h4>
					<p>Your own webpage for each piece of content you create, where your film is presented in a beautiful, easy-to-navigate interface, with associated media trailers, synopsis and cast.</p>

				</div>
		        <div class="grid_3">
					<h4>Secure Uploading</h4>
		            <p>You can easily upload your movie in .mov or .mp4. We take care of encoding and making the film ready for the theater.</p>

				</div>
			</div>
		</div>
		<div class="slide clearfix">
        	<img src="/images/pages/filmmakers/s-interact.jpg" />
			<div class="feature-text">
		        <div class="grid_3">
		      		<h4>Interact</h4>
					<p>Your own webpage for each piece of content you create, where your film is presented in a beautiful, easy-to-navigate interface, with associated media trailers, synopsis and cast.</p>

				</div>
		        <div class="grid_3">
					<h4>Secure Uploading</h4>
		            <p>You can easily upload your movie in .mov or .mp4. We take care of encoding and making the film ready for the theater.</p>

				</div>
			</div>
				<p>Leverage Constellation to expand your community.  By uploading 
ancillary content – like photos and  video clips related to your film, 
expand the likelihood of discovery, as people favorite your content on 
their profiles and interact with it on your page.</p>
			</div>
			<div class="slide clearfix">
        <img src="http://placekitten.com/601/300" />
				<p>The ability to hold community screenings for higher fees, and to 
leverage organizational partners who can support your film and promote 
it directly to their members.</p>
			</div>
			<div class="slide clearfix">
        <img src="http://placekitten.com/598/300" />
        <div class="">
        <h4>Page Views</h4>
				<p>The tools to upload, count views, track who has seen your film, and connect with your audience in both real time and after they have seen your film.</p>

        </div>
			</div>						
		</div>
	</div>
	<div class="section" id="getStarted">
		<h2>Get Started</h2>
		<a href="" class="button button_blue uppercase">Get Started</a>
	</div>
</div>
</div>
<!--
1.    Your own webpage for each piece of content you create, where your film is presented in a beautiful, easy-to-navigate interface, with associated media like clips and trailers.

2.    The tools to upload, count views, track who has seen your film, to see your bank account, and connect with your audience in both real time and after they have seen your film.

3.   The ability to hold community screenings for higher fees, and to leverage organizational partners who can support your film and promote it directly to their members.

4.   You choose where your film is accessible (by country), whether your audience should be able to see your content for free, or for what price (you set the price).  Show your films both on-demand, and in set showtimes. 

5.   Leverage Constellation to expand your community.  By uploading ancillary content – like photos and  video clips related to your film, expand the likelihood of discovery, as people favorite your content on their profiles and interact with it on your page.

6.   We allow Constellation users to promote films, and earn money doing it by our affiliate system.  Each film page has an affiliate link that is tied to the account of the user viewing your page.  Every purchase of your film made through that link gets split 50/50 with your promoter.  See a list of your top promoters on your film page.
-->
</div>

      <script type="text/javascript" src="js/underscore.js"></script>

<script>
jQuery(function(){

  var slides = $('.slide'),
      tabs = $('#fm-f-n-list li')


      tabs.bind('click', function(){
        tabs.removeClass('active');
        slides.removeClass('active');
        var index = tabs.index($(this).addClass('active'));
        $(slides.get(index)).addClass('active')
      })

})


</script>
