<div class="image_holder"><a href=""><img src="/images/temp_images/girl1.jpg" alt="" /></a></div>
<div class="buzz">
	<h5>Buzz</h5>
	<ul>
    	<li class="color1"><a href="">Tesia has entered screening</a></li>
        <li class="color2"><a href="">James entered screening</a></li>
        <li class="color3"><a href="">Tesia has entered screening</a></li>
        <li class="color4"><a href="">James entered screening</a></li>
        <li class="color5"><a href="">Tesia has entered screening</a></li>
        <li class="color6"><a href="">James entered screening</a></li>
        <li class="color7"><a href="">Vlad has entered screening</a></li>
    </ul>
</div>
