<ul class="left">
        	<li class="copy">copyright &copy; 2010 Constellation &nbsp;|</li> 
            <li><a href="">contact</a> |</li> 
            <li><a href="">terms &amp; conditions</a> |</li>
            <li><a href="">privacy policy</a></li>
        </ul>
        <ul class="right"> 
            <li><a href="">how it works</a></li> 
            <li><a href="">faqs</a></li>
            <li><a href="">about us</a></li>
            <li class="face"><a href=""><img src="images/icon_face.gif" alt="" /></a></li>
            <li class="twit"><a href=""><img src="images/icon_twit.gif" alt="" /></a></li>
        </ul>
