<div class="inner_container about_inner_container clearfix">
<div class="about-content">
<h2 class="about_title">Constellation Purchase Policy</h2>
  <p class = "about-us">Last Revised: April 13, 2011</p>

  
 <h4>Refund Policy</h4>
  <p>Constellation does not offer refunds for tickets purchased on the Constellation web site. Before purchasing your ticket we urge you to confirm the title and time of the movie you wish to see. If you have a technical problem that caused you to be unable to view the film, please email us with a specific description of the problem at support@constellation.tv.</p>
  
  <h4>Exchange Codes</h4>
  <p class = "about-us">If you cannot attend a showtime for which you have purchased a ticket, you may use the exchange code printed on your ticket to obtain a ticket to a different screening. Instead of re-entering your credit card information, enter your exchange code. Your original ticket will be voided and a new ticket for the new screening will be sent to your inbox.</p>
  
  <h4>Your Ticket</h4>
  <p class = "about-us">Once you purchase a ticket, it will be sent to the email address that you enter in the payment step or that is already associated with your account, depending on how you are logged into the site.</p>
  
  <h4>One Person Per Ticket</h4>
  <p class = "about-us">Your ticket will contain a link that will allow you to access the virtual theater.  Only one person may be logged into the theater from this link.  If you share your link/ticket with someone else and they use it to enter the online theater, you may be ejected or barred from entering the theater. </p>
  
  <h4>Invite Your Friends</h4>
  <p class = "about-us">Before purchasing your ticket, you are encouraged to invite friends to join the screening with you.  You may import contacts from your email client (we do NOT store any of your passwords or your contactsí information).  Each invitation you send will reduce your ticket price by $.10, up to 25% off the listed price.  Your friends will receive messages telling them to purchase a ticket to the film.  In order for anyone else to enter the theater, they too must purchase a ticket.</p>
  
  <h4>Payment Methods</h4>
  <p class = "about-us">Constellation accepts American Express, MasterCard, Visa, and Paypal.</p>
  
  <h4>Pricing and Availability</h4>
  <p class = "about-us">Constellation determines the prices of the tickets sold on the site, and may choose to alter these prices at any time.  You are responsible for paying all applicable taxes in connection with your purchase of any tickets.</p>
  
  <p class = "about-us">If you have any questions about the information above, please <a href="/contact">Contact Us</a>.</p>	

</div>  
