/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	color: #7d7d7d;
	content-background-color: #505050;
}
message
{
	borderColor:#ff0000;
}