<div class="static_content">
<h2>About Us</h2>

<p class="about-us">
	<span class="bold">Constellation is the first global movie theater.</span><br /><br />
	Just like a real theater, we show new films at specific times for live audiences. Anyone can buy a ticket, invite their friends, and chat with others in the theater at any time. Many films are hosted by filmmakers, stars, and other VIPs. In these screenings, the host leads a live video Q+A after the film where anyone from the audience can ask questions. You can also host your own screening and live video Q+A, and invite your friends.
</p> 

<!--<p class="about-us">	
	For more information, see "<a href="/how">How it Works</a>."
</p>-->

<p class="about-us">	
For best results, make sure you are using the most up-to-date version of your browser software, and that you have Flash installed on your computer.  You will also require a broadband internet connection.
</p>

<p class="about-us">
Constellation was founded in 2011 by James Lawler and Reid Carolin.
</p>
</div>
