<div class="buttons">
  <ul>
      <li><a href="">veiw by genre</a></li>
      <li><a href="">veiw by rating</a></li>
  </ul>
</div>
<div class="search">
<form action="">
  	<fieldset>
      	<input name="" type="text" class="field" /> <input name="" value="" class="btn_search" type="button" />
      </fieldset>
  </form>
</div>
<div class="image_gallery">
      <div class="navigation"><a href="" class="previous">previous</a><a href="" class="next">next</a></div>
      <div class="scroll">
          <ul>
              <li><a href=""><img class="reflected" src="images/temp_images/mov1.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov2.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov3.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov4.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov5.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov1.png" alt="" /></a></li>
              <li><a href=""><img class="reflected" src="images/temp_images/mov2.png" alt="" /></a></li>
          </ul>
      </div>
</div>
