<style>
p.faq-question {
  color: #99CCFF !important;
}
</style>
<div class="static_content">
<h2>FAQs</h2>
<ul id="faqs">
	<li>
		<p class="faq-question">How do I watch a movie?</p>
		<p class="faq-answer">
			Click on the poster for the movie you want to watch and follow the steps to buy your ticket. 
			Your ticket will be sent to your email. Click on the ticket to enter the screening room. 
			Only one person can access the screening room per ticket.
		</p>
	</li>
	
	<li>     
		<p class="faq-question">I was watching a film and my browser or computer crashed, so I missed the movie. What do I do?</p>
		<p class="faq-answer">
			Forward your ticket to <a href="mailto:refunds@constellation.tv">refunds@constellation.tv</a>. 
			We will check our records to confirm that you missed the movie. If so, we'll credit your account with your ticket price.
		</p>
	</li>
	
	<li>
		<p class="faq-question">I can't make the screening I bought a ticket for. Can I swap my ticket for another screening?</p>
		<p class="faq-answer">
		    You can swap your ticket for another show time up to 1 hour before the start of the screening designated on your ticket. 
			To do this, select the new screening and instead of re-entering your payment info, just enter the unique exchange 
			code on your ticket. You will be emailed a new ticket for the new screening time.
		</p>
	</li>
	
	<li>
		<p class="faq-question">I want to host a screening of a movie, but it doesn't have a "host your own" button." Why is this?</p> 
		<p class="faq-answer">
			 We release each movie on Constellation in partnership with the filmmakers or distributor and decide on timing for 
			 rolling out various Constellation features, including the "Host your Own", in conjunction with them. 
			 If this feature is not up yet, check back later - we're probably adding it soon!
		</p>
	</li>
	
	<li>
		<p class="faq-question">How can I get my movie exhibited on Constellation?</p> 
		<p class="faq-answer">
			 Constellation books films from studios, distributors, festivals, agents, producers, and directors. 
			 If you control the internet streaming rights to a great movie, send us an email at 
			 <a href="mailto:booking@constellation.tv">booking@constellation.tv</a>. Please include your movie's title, 
			 synopsis, cast and crew, a link to a trailer, and a summary of the film's distribution (festivals, etc.) 
			 to date, and any distribution that is planned. We will review all submissions in the order they are received 
			 and you will be notified via email of our decision.
		</p>
	</li>
	
	<li>
		<p class="faq-question">I was watching a film and my browser or computer crashed, so I missed the movie. What do I do?</p>
		<p class="faq-answer">You can re-enter the theater at any time via your ticket link, or via the constellation.tv homepage
			by logging in and clicking on "My Account". 
		</p>
	</li>
	
	<li>
		<p class="faq-question">I tried to watch a movie on Constellation but the streaming quality was terrible.  Can I get a refund?</p>
		<p class="faq-answer">Please email us at <a href="mailto:refunds@constellation.tv">refunds@constellation.tv</a>.  Please include your browser name, version, your geolocation, and a description of the problem.</p>
	</li>
</ul>
</div>
