<div class="image_gallery large">
  <h4>featured showtimes</h4>
      <div class="main_image"><img src="images/temp_images/scroll-main-lg.png" alt="" /></div>
      <div class="navigation"><a href="" class="previous">previous</a><a href="" class="next">next</a></div>
      <div class="scroll">
          <ul>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-on-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
              <li><a href=""><img src="images/temp_images/scroll-off-lg.png" alt="" /></a></li>
          </ul>
      </div>
</div>
