<div class="image_gallery small">
	<div class="main_image"><img src="/images/temp_images/scroll-main.jpg" alt="" /></div>
    <div class="navigation"><a href="" class="previous">previous</a><a href="" class="next">next</a></div>
    <div class="scroll">
        <ul>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-on.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
            <li><a href=""><img src="/images/temp_images/scroll-off.jpg" alt="" /></a></li>
        </ul>
    </div>
</div>
<div class="showtimes">
	<h4>today's showtimes</h4>
    <div class="clearfix">
    	<a href="">join</a> 
        <span><strong>7 pm</strong>
        hosted by madilnie sackler
        </span>
    </div>
    <div class="clearfix">
    	<a href="">join</a> 
        <span><strong>7 pm</strong>
        hosted by madilnie sackler
        </span>
    </div>
    <div class="clearfix">
    	<a href="">join</a> 
        <span><strong>7 pm</strong>
        hosted by madilnie sackler
        </span>
    </div>
    <div class="clearfix">
    	<a href="">join</a> 
        <span><strong>7 pm</strong>
        hosted by madilnie sackler
        </span>
    </div>
    
</div>
<h6>future showtimes</h6><div class="date_icon"><span>Jun <br />26</span></div>
