<div class="showtimes">
                	<h4>Up Next:</h4>
                    <div class="clearfix">
                    	<a href="">join</a> 
                        <span><strong>7 pm</strong>
                        hosted by madilnie sackler
                        </span>
                    </div>
                    <div class="clearfix">
                    	<a href="">join</a> 
                        <span><strong>7 pm</strong>
                        hosted by madilnie sackler
                        </span>
                    </div>
                    <div class="clearfix">
                    	<a href="">join</a> 
                        <span><strong>7 pm</strong>
                        hosted by madilnie sackler
                        </span>
                    </div>
                    <div class="clearfix">
                    	<a href="">join</a> 
                        <span><strong>7 pm</strong>
                        hosted by madilnie sackler
                        </span>
                    </div>
                    
                </div>
                <h6>future showtimes</h6><div class="date_icon"><span>Jun <br />26</span></div>
