<div class="static_content">
  <h2>How It Works</h2>
  <p class="how-it-works">Constellation is the first global movie theater. 
  </p>
  <p class="how-it-works">We show movies at set times for live audiences. Anyone can buy a ticket and invite their friends (via email or sharing through a social network).  You can chat with others in the theater, and many film showings feature live Q+A's where you can ask questions directly of VIP hosts. 
  </p>
  <p class="how-it-works">Filmmakers, stars, and other VIP guests regularly host screenings on Constellation, so be sure to check the calendar for each movie for special screenings.
  </p>
  <p class="how-it-works">To buy a ticket to any screening, simply follow these steps:
  </p>
  <ol class="how-it-works-ol">
    <li>
    <span>LOGIN to Constellation.  You can create a new profile, or you can login via your Facebook or Twitter profile in just a couple clicks!
    </span>
    </li>
    <li>
    <span>INVITE FRIENDS AND GET A DISCOUNT. It's easy &mdash; just enter their e-mail addresses, or login to your Gmail, Yahoo, or Hotmail account and simply click on any of your existing contacts.  Your friends will receive an invite in their email from you. You can also post messages via Facebook and Twitter.  Each invitation you send will earn you $.10 off your ticket price, up to 50% off.
    </span>
    </li>
    <li>
    <span>BUY YOUR TICKET.  You can easily pay with PayPal or any major credit card.  If you have already purchased a ticket to a screening that you did not attend, just enter your exchange code to redeem a ticket for the new showtime.
    </span>
    </li>
    <li>
    <span>Click ENTER THE THEATER. Once you're in the theater, you'll see a countdown until the movie starts.  You can post messages to chat with other attendees, or you can invite more friends to the screening.  You can access the menu with the chat and movie-info features at anytime before the screening. .  If you experience technical issues, try refreshing your browser.  If you still have problems, please email support@constellation.tv.
    </span>
    </li>
  </ol>
  <p class="how-it-works">Once you've bought a ticket, you'll promptly receive an e-mail from us containing your ticket and receipt.  If you miss your showtime or want to exchange your ticket for another show, simply log-in to your Constellation.tv account, and click on the "My Account" link on the top right of the page.  You will see the screenings for which you have purchased tickets.  You can click directly on these links to enter the theater.
  </p>
  <p class="how-it-works">We’ll also send you an e-mail reminder for your showtime one-hour before the show begins. 
  </p>
</div>
