<div class="static_content">

  <h2>Constellation Purchase Policy</h2>
  <p class = "purchase-policy">Last Revised: April 13, 2011</p>
  
  <p class = "purchase-policy pp_title">No Refunds</p>
  <p class = "purchase-policy">Constellation does not offer refunds for tickets purchased on the Constellation web site. Before purchasing your ticket we urge you to confirm the title and time of the movie you wish to see.</p>
  
  <p class = "purchase-policy pp_title">Exchange Policy</p>
  <p class = "purchase-policy">If you cannot attend a show time for which you have purchased a ticket, you may use the exchange code printed on your ticket to obtain a ticket to a different screening. Instead of re-entering your credit card information, enter your exchange code. Your original ticket will be voided and a new ticket for the new screening will be sent to your inbox.</p>
  
  <p class = "purchase-policy pp_title">Your Ticket</p>
  <p class = "purchase-policy">Once you purchase a ticket, it will be sent to the email address that you enter in the payment step or that is already associated with your account, depending on how you are logged into the site.</p>
  
  <p class = "purchase-policy pp_title">One Person Per Ticket</p>
  <p class = "purchase-policy">Your ticket will contain a link that will allow you to access the screening room.  Only one person may be logged into the theater from this link.  If you share your link/ticket with someone else and they use it to enter the online theater, you may be ejected or barred from entering the theater. </p>
  
  <p class = "purchase-policy pp_title">Invite Your Friends</p>
  <p class = "purchase-policy">Before purchasing your ticket, you are encouraged to invite friends to join the screening with you.  You may import contacts from your email client (we do NOT store any of your passwords or your contacts’ information).  Each invitation you send will reduce your ticket price by $.10, up to 50% off the listed price.  Your friends will receive messages telling them to purchase a ticket to the film.  In order for anyone else to enter the theater, they too must purchase a ticket.</p>
  
  <p class = "purchase-policy pp_title">Payment Methods</p>
  <p class = "purchase-policy">Constellation accepts American Express, MasterCard, Visa and Paypal.</p>
  
  <p class = "purchase-policy pp_title">Pricing and Availability</p>
  <p class = "purchase-policy">Constellation determines the prices of the tickets sold on the site, and may choose to alter these prices at any time.  You are responsible for paying all applicable taxes in connection with your purchase of any tickets.</p>
  
  <p class = "purchase-policy">If you have any questions about the information above, please <a href="/contact">Contact Us</a>.</p>	

</div>
