.host_show_header {
    text-align: center;
    margin: 40px 0 30px;
    font-weight: 200;
    font-size: 32px;
    font-family: "helveticaneuelight",Helvetica,sans-serif;
}

.host_show_header h3 {
    font-size: 24px;
    font-family: "helveticaneuelight",Helvetica,sans-serif;
}
.host_show_header h3 span {
    font-family: "helveticaneue",Helvetica,sans-serif;
}

.host_show_steps {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
    text-transform: uppercase;
}
.host_show_steps li {
    display: inline-block;
    font-family: "helveticaneuelight",Helvetica,sans-serif;
}

.host_show_steps li.active {
       font-family: "helveticaneue",Helvetica,sans-serif;
    
}
.host_show_steps li.host_show_steps_sep {
    font-size: 13px;
    margin: 0 8px;
}

.host_container {
    width: 586px;
    margin: 0 auto 50px;
}
.host_container_top {
    background: url(../images/bg/container_sides.png) 0 0 no-repeat;
    height: 10px;
}
.host_container_bottom {
    background: url(../images/bg/container_sides.png) 0 -60px no-repeat;
    height: 20px;
}
.host_container_center {
    background: url(../images/bg/container_edges.png) 0 0 repeat;
    padding:  14px 22px 8px;
    
}

.host_container_center .film_details {
    width: 180px;
    float: left;   
}

.host_container_center .film_details img {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: solid 1px #fff;
}
.film_details .hosted_by {
    margin: 10px 0;
    width: 150px;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
}
.film_details .hosted_by li {
    margin-bottom: 8px;
}
.film_details .hosted_by li.film_title {
    font-weight: bold;
}

.host_container_center .host_form {
    width: 360px;
    float: left;
}

.host_form {
    float: left;
}
.host_form label {
    display: block;
    color: #565656;
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: bold;
    text-transform: uppercase;
}
.host_form label.sublabel {
    font-size: 11px;
}
.host_form label.checkbox_label {
    text-transform: none;
    color: #000;
    display: inline;
    margin-left: 6px;
}
.host_form input[type=text], textarea {
    width: 300px;
    /*border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #bfbfbf;
    padding: 5px 12px;
    font-size: 14px;
*/
    font-family: "helveticaneue", Helvetica, arial, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) inset;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 6px 10px;
    font-size: 14px;

}

.host_form input[type=text]:focus, .host_form input[type=text]:focus, textarea: focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/*.host_form #user_twitter_url, .host_form #user_facebook_url {
	width: 134px !important;
}*/

.selectOveride {
  width: 200px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #bfbfbf;
  padding: 5px 12px;
  line-height: 18px;
  font-size: 14px;
  position: relative;
}
.selectOveride .displayDiv {
    background: url(../images/bg/drop-down-tip.png) 190px 50% no-repeat;
    padding-right: 20px;
    overflow: hidden;
    height: 18px;
}
.selectOveride select {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    opacity: 0;
    padding: 5px 12px;
    position: absolute;
    top: 0;
    width: 224px;
    -webkit-appearance:none;
}

.host_form input[type=text]:focus {
    background: #eeeeee;
}
.form_row {
    margin-bottom: 16px;
}
.form_row.form_row_no_margin {
    margin-bottom: 10px;
}

.edit_email_link_wrap {
    width: 224px;
    text-align: right;
    margin-top: 8px;
}
.link {
    color: #2185c5;
    /*margin-left: 10px;*/
    font-size: 14px;
    cursor:pointer;
}

.host_form .button {
    width: 160px;
    margin-top: 8px;
}


#ui-datepicker-div {
    font-size: 10px;
     border: medium none;

 }
 .ui-date-picker {
    padding: 6px 4px 4px ; 
 } 
 #ui-datepicker-div {
     padding: 6px 4px 4px ;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
 .ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; display: none;}
 .ui-timepicker-div dl{ text-align: left; }
 .ui-timepicker-div dl dt{ height: 25px; }
 .ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
 .ui-timepicker-div td { font-size: 90%; }

.host_form.account_form .button {
    width: auto;
}

.account_avatar_block {
    float: left;
     width: 180px;
}
.account_avatar_block .label{
    color: #565656;
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 6px;
        text-transform: uppercase;
}


#avatar-input {
margin-top: 10px;
    position: relative;
    width: 130px;
/*    top: ;*/
}
#avatar-input input {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
#avatar_account_name {
    display: block;
    margin-top: 10px;
    color: #999;
}
.wmInput {
	color: #999;
}

.input-prefix {
    color: #9DA2A8;
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 12px;
    font-size:14px;
}
.input-prefix-wrap {position:relative;}
.host_form #user_facebook_url {
    padding-left: 179px;
    margin: 0;
    width: 131px;
}
.host_form #user_twitter_url {
    padding-left: 158px;
    margin: 0;
    width: 152px;
}
.host_form #user_website_url {
    padding-left: 47px;
    margin: 0;
    width: 263px;
}
