/* Style Sheets for [] website
created by AMadsen
TOC
	1. Defaults
	2. Structure
	3. Links and Navigation 
	4. Fonts
	5. Added By Andy

Notes
*/










/*#content {
	width: 100%;
	background: #F0F0F0;
	margin:0px; 
	padding:0px;
	text-align:center;
}
*/
/*.marqee {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #000000;
	text-align: center;
}

.marqee_moon {
  height: 382px;
  width: 1100px;
  margin:0px auto;
  text-align: left;
}
*/

/*.const_info {
	position: absolute;
	margin-top: 30px;
	margin-left: 697px;
	width: 300px;
	height: 161px;
	background: url('https://s3.amazonaws.com/cdn.constellation.tv/prod/images/alt1/const_info.png') no-repeat top left;
	padding: 10px 25px 10px 15px;
	color: black;
	font-size: 16px;
}

.get_info {
	position: absolute;
	margin-top: 270px;
	margin-left: 250px;
	width: 398px;
	height: 97px;
	background: url('https://s3.amazonaws.com/cdn.constellation.tv/prod/images/alt1/bg_info_short.png') no-repeat top left;
	padding: 10px 20px 10px 10px;
	color: white;
}

.get_info a {
	color: #10A3DC !important;
}

.featured_screens, .all_screens, .footer {
  background: #F0F0F0 !important;
}
*/

/*
.featured_screens {
  margin:0px auto;
	padding-top: 40px;
  padding-left: 20px;
  width: 1080px !important;
	text-align: center;
}

.featured_screens h2 {
	font-family:  helveticaneuelight, Helvetica, sans-serif;
	color: black;
	font-weight: normal;
	font-size: 21px;
	padding-bottom: 20px;
}

.featured_screens .featured_item {
  background: transparent url('https://s3.amazonaws.com/cdn.constellation.tv/prod/images/alt1/showtime_bg.png') top left no-repeat;
  width: 952px;
  height: 205px;
  margin-left: 50px;
  padding-bottom: 12px;
	text-align: left;
}

.featured_screens .featured_item h4 {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  margin-left: 34px;
  padding-top: 18px;
  text-transform: none;
}

.featured_content {
  margin-top: 20px;
  float: left;
  clear:both;
  padding-left: 25px;
} 

.featured_still, .featured_title, .featured_time {
  float: left;
	color: black !important;
	font-family:"helveticaneuelight", verdana, helvetica, sans-serif;
}

.featured_still {
  width: 147px;
}

.featured_title {
  width: 730px;
  margin-left: 20px;
  margin-top: -10px;
}

.featured_title h5, .featured_title h5 a {
	font-family:"helveticaneue", verdana, helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px !important;
  font-size: 24px;
  color: black;
  text-transform: none;
  border-bottom: none;
}

.featured_time {
  text-align: center;
  font-size: 18px;
	color: #C8C8C8;
	font-weight: normal;
}

.time_remaining {
	position: relative;
	display: none;
}

.in_progress {
	position: absolute;
	top: -10px;
	right: 0px;
}

.featured_time a {
  color: black;
  padding: 0px 5px;
}

.featured_countdown {
	clear: both;
	
}

.countdown_start {
	float: left;
  font-size: 18px;
  font-weight: bold;
  color: #A5A396;
	margin-right: 10px;
  margin-bottom: 10px;
}

.timekeeper {
	font-family:"helveticaneuelight", verdana, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #25A62F;
}

.timekeeper .shorty{
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 2px;
  margin-right: 8px;
}

.user_images {
	float: left;
	background: url('https://s3.amazonaws.com/cdn.constellation.tv/prod/images/alt1/user_bg.png') no-repeat top left;
	width: 578px;
	height: 70px;
	padding-left: 5px;
}

.user_images img {
	margin: 10px 0px 5px 5px;
}

.user_list {
	float: left;
}

.user_list .user_image {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.user_count {
	font-family:"helveticaneuelight", verdana, helvetica, sans-serif;
	float: left;
	color: #2A98DC;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 25px;
}*/

/* -------------- 2.d Footer ----------------------------- */

/*
.popout_up{position:absolute; top:140px; height:1px; width:1px; margin-left:50%; float:left; z-index: 100; }
	.popout_top{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popout_up_top.png") no-repeat left; height:9px; top:-9px;}
	.popout_top a{ background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popout_close.png") no-repeat right; color:#A7A7A7; font:12px Helvetica, sans-serif; float:right; padding:4px 25px 4px 0px; margin: 10px 15px; display:block;}
	.popout_mid{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popout_up_mid.png") repeat-y left; min-height: 150px; }
	.popout_bot{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popout_up_btm.png") no-repeat left; height:9px; bottom:-9px; position:absolute!important}
	
	.popout_top, .popout_bot, .popout_mid{ position:relative; width:367px; }
	.popout_up .title{font:normal 24px Arial, Helvetica, sans-serif; color:#A7A7A7; overflow: hidden;}*/
   
/* -------------- 9. POP-up --------------------------------- */
/*.poplg_up{position:absolute; top:140px; height:1px; width:1px; left:250px; float:left; z-index: 100; }
	.poplg_top{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popoutlg_up_top.png") no-repeat left; height:9px; top:-9px;}
	.poplg_top a{ background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popout_close.png") no-repeat right; color:#A7A7A7; font:12px Helvetica, sans-serif; float:right; padding:4px 25px 4px 0px; margin: 10px 15px; display:block;}
	.poplg_mid{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popoutlg_up_mid.png") repeat-y left; min-height: 150px;  padding-bottom: 10px; }
	.poplg_bot{background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/popoutlg_up_btm.png") no-repeat left; height:9px; bottom:-9px; position:absolute!important}
	
	.poplg_top, .poplg_bot, .poplg_mid{ position:relative; width:560px; }
	
	.poplg_up .title strong{font:bold 32px/26px Arial, Helvetica, sans-serif; color:#9cf;}
	.poplg_up h3 {font:normal 28px Arial, Helvetica, sans-serif; color:#A7A7A7; overflow: hidden; margin-top: 15px; text-transform: none;}
  .poplg_up p { color: #A7A7A7; font-size: 14px; margin-bottom: 10px; }
  .poplg_up ol { margin-left: 25px; }
  .poplg_up li { color: #F47A3F; font-size: 14px; margin-bottom: 10px; }
  .poplg_up li span { color: #A7A7A7; font-size: 14px; margin-bottom: 10px; }
  
.login_form { float: left; padding-bottom: 20px; }
  .login_form .input{width:310px; height:28px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 12px; font-weight: bold; margin-bottom: 10px;}
  .login_form p {color: black; font-size: 14px; padding-bottom: 4px;}
  .login_form #login_password {margin-bottom: 25px;}
  .login_form .signup {
    float: left;
    width:320px;
  }
  .login_form .signup a {color: #0000FF;text-decoration: underline;}
  .login_form .signup span {
    float: left;
    width: 50%;
}*/

.password_form{ width: 100%; border-top:2px solid #000000; margin-top:17px; padding-top:27px;}
		.password_form.clearfix{margin-bottom:2px !important}
		.password_form label{color:#000000; font:14px Helvetica, sans-serif; width:163px; display:block; float:left; padding-top: 4px;}
		.password_form .input{width:310px; height:28px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
		
.sign-up_form{ width: 100%; border-top:2px solid #000000; margin-top:17px; padding-top:27px;}
		.sign-up_form .clearfix{margin-bottom:2px !important}
		.sign-up_form label{color:#000000; font:14px Helvetica, sans-serif; width:163px; display:block; float:left; padding-top: 4px;}
		.sign-up_form .birthday{margin-bottom:10px !important;}
		.sign-up_form .birthday label{width: 98px !important;}
    .sign-up_form .input{width:310px; height:28px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
		.sign-up_form select{width: 70px; height:28px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 16px;}

.buy-ticket_form .clearfix{margin-bottom:13px}
	.buy-ticket_form label{color:#000000; font:14px Helvetica, sans-serif; width:120px; display:block; float:left; padding-top: 4px; margin-left: 15px; }
	.buy-ticket_form .clearfix .input{width:290px; float:left}
  .buy-ticket_form .input{width:310px; height:28px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 14px; margin-bottom: 10px;}
	.buy-ticket_form select{height: 24px; float:left; border: 1px solid #A7A7A7; margin-right: 5px; padding-left: 5px; font-size: 16px;}
  .buy-ticket_form .cc-state-drop { margin-top: 3px; }
  .buy-ticket_form .cc-country-drop { width: 290px; }
  .buy-ticket_form .fld-cc_exp_month {width: 80px;}
  .buy-ticket_form .fld-cc_exp_year {width: 120px;}
  .buy-ticket_form .cc-submit { text-align: right; }
  .buy-ticket_form .cc_title { float: left; display: inline; text-transform: uppercase; font-weight: bold; padding-top: 4px !important; }
  .buy-ticket_form .cc_title, .buy-ticket_form .cc_title a { color: #F26522; }
  .buy-ticket_form .paypal_icon { margin-left: 10px; float: left; background: url('https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/paypal.png') no-repeat top left; width: 120px; height: 22px; }
  .buy-ticket_form .short{width:90px !important; position:relative; left:10px}
	.buy-ticket_form .code{width:90px !important; position:relative; }
	.buy-ticket_form .dcode{ margin-left: 15px; width:260px !important; float: left; }
	.buy-ticket_form .dcode_link{ margin-left: 15px; float: left; padding-top: 4px;  }
	.buy-ticket_form .cc_image { margin-left: 10px; float: left; background: url('https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/cc_image.png') no-repeat top left; width: 188px; height: 33px; }
	.buy-ticket_form p { margin-left: 15px; color: #000000; font-size: 14px; margin-bottom: 10px; }
	.buy-ticket_form .fb_check, .buy-ticket_form .fb_text  { float: left; color: #000000; font-size: 12px; margin-bottom: 10px; }
	.buy-ticket_form .fb_check { width: 20px; }
  .buy-ticket_form .fb_text { width: 350px }
	
.or_login_alt {
  width: 100%;
  float: left;
  font:bold 16px Helvetica, sans-serif;
  color:#000000;
  margin-bottom:25px;
}

.or_login_alt span {
  float: left;
  width: 49%;
}

.film_alt_info {
  height: 80px;
  width: 516px;
  padding: 22px 5px 5px 15px;
  background:url("https://s3.amazonaws.com/cdn.constellation.tv/dev/images/alt/film_info_bg.png") no-repeat left;
  color: #000000;
  font-size: 18px;
}
			
.film_alt_name {
  float: left;
  width: 380px;
}

.film_alt_price {
  float: left;
  width: 105px;
  text-align: center;
}

.film_alt_text {
  float: left;
  margin-top: 5px;
  font-size: 14px;
  width: 410px;
}

.current_screening_price {
  color: #F26522;
  font-size: 30px;
}
.tooltip {
	display:none;
	background:transparent url(https://s3.amazonaws.com/cdn.constellation.tv/dev/images/ttbg.png) no-repeat top left;
	font-size:12px;
	height:16px;
	width:200px;
	padding:4px;
	padding-left: 20px;
	color:#fff;	
}
.tooltip_large {
	display:none;
	background:transparent url(https://s3.amazonaws.com/cdn.constellation.tv/dev/images/ttbg_large.png) no-repeat top left;
	font-size:12px;
	height:60px;
	width:187px;
	padding:4px;
	padding-left: 20px;
	padding-right: 10px;
	color:#fff;	
}
