.footer, .footer-hidden {
  z-index: 100;
}

.landing #screening_invite {
  left: 400px !important;
  top: 50px !important;
}

.theater_panel {
  position: absolute;
  left: 360px;
  top: 100px;
  width: 530px;
	text-align: left;
	padding: 10px;
	z-index: 50;
}

.theater_subpanel {
  position: absolute;
  left: 270px;
  top: 10px;
  width: 710px;
  height: 230px;
	text-align: left;
	padding: 10px;
	z-index: 10;
	border: 1px solid #666;
	background: #222;
}

.theater_subpanel h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  width: 400px !important;
}


.theater_panel p {
  margin: 0px !important;
  padding: 0px !important;
}

.theater_panel h1 {
  text-align: left;
  font-size: 16px;
  color: #99ccff;
}

.panel a {
  color: grey;
}
.panel p.share a {
  float: left;
  margin-right: 2px;
}
.panel .share_inset {
  margin-left: 10px;
  font-weight: bold;
}

.panel h4 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 10px;
  color: #bbb;
}

#qa_panel, #review_panel {
  border: 1px solid #ddd;
}

/*Review Panel*/
#after-screening-popup #screening-info a.button { 
	width: 216px;
	height: 26px;
	margin-bottom: 5px;
	line-height: 32px;
}
.panel a#btn-host { width: 200px; height: 20px; background: url(/dev/images/btn%5bscreening-host%5d.png) left top no-repeat; }
.panel a#btn-send { width: 220px; height: 30px; background: url(/dev/images/btn%5bscreening-recommend%5d.png) left top no-repeat; }
.panel a#btn-write { width: 220px; height: 30px; background: url(/dev/images/btn%5bscreening-write%5d.png) left top no-repeat; }

#review_panel textarea, #answer_popup textarea { 
	width: 100%;
	height: 80px;
	background: #d1d0ce; 
	border: 0;
	font-size: 12px;
	margin-bottom: 10px;
}
#screening-popup #invite_more_friends {
	height:30px;
}
#screening-popup #invite_more_friends  a {
	background: url(/dev/images/btn%5binvite-more%5d.png) no-repeat;
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 7px;
	text-decoration: none;
}

#info {
	display: block;
	padding: 10px; margin-bottom: 20px;
	border: 1px solid #333;
	background-color: #efefef;
}

#video_panel {
  position: absolute;
  display:block;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index: 1;
}

#video_stream {
  position: absolute;
  display:block;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index: 2;
}
